*{
    margin: 0;
    box-sizing: border-box;
    padding: 0px;
    
} 
header{
    display:flex;
    justify-content: end;
    max-width: 1152px;
    
   
}
header a{
    font-weight: 500px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 29px;
    text-decoration: none;
    color: rgb(108, 108, 108);
    margin-right: 23px;
}
h1 {
    text-align: center;
    font-size: 48px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(108, 108, 108);

}

img {
    display: block;
    margin: 0px auto;
}
.chamada{
    text-align: center;
    color: gray;
    font-size: 25px;
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.endereço{
    text-align: center;
    color: gray;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
.icones  {
    display: flex;
    align-items: center;
    justify-content: center;
     
}
.icones a img{
    max-width: 40px;
    margin: 10px;
     
} 