*{
    margin: 0;
    box-sizing: border-box;
    padding: 0px;
    
} 
header{
    display:flex;
    justify-content: end;
    max-width: 1152px;
    
   
}
header a{
    font-weight: 500px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 29px;
    text-decoration: none;
    color: white;
    margin-right: 23px;
    cursor: pointer;
}
body {
    background-color: rgb(70, 142, 236);
    font: normal 15pt Arial;
}

h1 {
    text-align: center;
    font-size: 48px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    color: white

}

section{
    display: inline-block;
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 400px;
    margin: 150px auto auto 130px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.334);
}
h2 {
    margin: 10px;
    text-align: center;
}
img .imgIdoso{
    display: inline-block;
}

img {
    display: block;
    margin: 50px auto;
}
.chamada{
    text-align: center;
    color: white;
    font-size: 25px;
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.endereço{
    text-align: center;
    color: white;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
.icones  {
    display: flex;
    align-items: center;
    justify-content: center;
     
}
.icones a img{
    max-width: 40px;
    margin: 10px;
     
} 